.post{
    padding: 1rem 1.5rem;
    background: var(--gray-800);
}

.post header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.post span {
    font-size: 0.8rem;
    color: var(--gray-400);
    line-height: 1.6;
}

.post time{
    font-size: 0.875rem;
    color: var(--gray-400);
    line-height: 1.6;
}

.author {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.authorInfo{
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
}